@use '../variables' as *;

@keyframes rotationAnimation {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

@mixin alignRing($radius, $shift) {
    width: $radius;
    height: $radius;
    top: $shift;
    left: $shift;
}

@mixin modifyRings($base) {
    max-height: calc($base * 15);
    max-width: calc($base * 15);

    .spinner--ring {
        border-width: $base;

        &__out {
            @include alignRing(100%, 0);
        }

        &__mid {
            @include alignRing(calc(100% - calc($base * 4)), calc($base * 2));
        }

        &__inn {
            @include alignRing(calc(100% - calc($base * 8)), calc($base * 4));
        }
    }
}

.spinner {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
    overflow: hidden;
    //transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;

    &--ring {
        position: absolute;
        border-radius: 50%;
        border-style: solid;

        &__out {
            animation: rotationAnimation 2s linear infinite .2s;
            border-color: transparent $color-pink transparent $color-pink;
        }

        &__mid {
            animation: rotationAnimation 1.5s linear infinite reverse .2s;
            border-color: transparent $color-blue transparent $color-blue;
        }

        &__inn {
            animation: rotationAnimation 1s linear infinite .2s;
            border-color: transparent $color-lemon transparent $color-lemon;
        }
    }

    &__lg {
        @include modifyRings(calc(1rem / 2));
    }

    &__md {
        @include modifyRings(calc(1rem / 4));
    }

    &__sm {
        @include modifyRings(calc(1rem / 8));
    }
}