@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

#fullScreenLoader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in;
    visibility: hidden;
    opacity: 0;

    &>* {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.show {
        visibility: visible;
        opacity: 1;

        &>* {
            display: block;
            animation: fade-in .2s ease-in;
        }
    }

    &:not(.show)>.did-fade-in {
        display: block;
        animation: fade-out .2s ease-in;
    }
}